/* You can add global styles to this file and also import other style files */
@import "base/_vars.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("/assets/background.jpg");
  background-size: cover;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
